<app-header></app-header>
<div class="book2" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <div>
        <span>Books</span>
        <span class="bracket">
            (128items)
        </span>
    </div>

     <!-- <div style="padding-left: 1000px; ">
          <button  class="add">Add</button> -->
          <!-- <button class="add" mat-button (click)="openDialog()">Add</button> -->
    <!-- </div>  --> 
    <app-addbook></app-addbook>
 </div> 
<div class="formcontainer">
    <div class="item" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 10.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button" (click)="openDialog()">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2" >DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>

        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 36.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 8.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 36.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 23.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 20.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 22.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 36.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 23.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 36.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 10.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>

        <div class="card1" fxLayout="row wrap" fxLayoutAlign="space-evenly center">

            <div class="image" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../assets/imagess/Image 11.png">
            </div>


            <div fxLayout="column" class="text">
                Don't Make Me Think
                <div class="author">
                    by steve krug
                </div>
                <div class="price">
                    Rs.1500
                </div>
                <div  fxLayout="row wrap" fxLayoutAlign="space-around center">
                    <!-- <button type="button">UPDATE</button> -->
                    <app-update ></app-update>
                    <!-- <button type="button" class="button2">DELETE</button> -->
                    <app-delete ></app-delete>
                </div>
            </div>

        </div>
    </div>
</div> 

<!-- <div (deleteEvent)="updatePage($event)" ></div> -->
<app-footer></app-footer> 