<div >
     <mat-toolbar class="header" > 
        <div class="text" >
            <img src="../../../assets/education.svg" width="31px" height="24px">
            <span>Bookstore</span>
             
             <input type="text" class="searching" placeholder="Search">
             <button class="profile"><img src="../../../assets/person.svg" alt="" width="30px"></button>  
            <button class="cart"><img src="../../../assets/cart3.svg" alt="" width="30px"></button>                 
            <!-- <button img src=".."></button>
            <img src="../../../assets/person.svg" width="35px" height="35px" class="profile">
            <img src="../../../assets/supermarket.svg" width="35px" height="35px" class="cart">  --> 
        </div>
    </mat-toolbar> 
</div>