// .button1{
//     background: #FFFFFF;
//     // width: 200px;
//     border: 1px solid #E2E2E2; 
//     color: #0A0102;   
// }
// .button2{
//     background: #FFFFFF;
//     border: 1px solid #E2E2E2; 
//     // color: #0A0102;
//     // margin-left: 20px;
// }
 .btn{
    margin-top: 5px;
    background: #A03037 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    font-weight: normal;
    display: inline-block;
    height: 30px;
    border: none;
 }