.field{
    width:70%;
    align-items: center;
}
.mat-typography{
    width: 400px;
}
.adding{
    border: black;
    border-radius: 3px;
    background: rgb(156, 147, 132);
}
.form{
    overflow: hidden;
}