<mat-dialog-content [formGroup]="form" class="mat-typography">
    
    <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="bookname" placeholder="bookname" required >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Author</mat-label>
        <input matInput formControlName="author" placeholder="author" required >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description" placeholder="description" required >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Quantity</mat-label>
        <input matInput  formControlName="quantity" placeholder="quantity" required >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Price</mat-label>
        <input matInput formControlName="price" placeholder="price" required >
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Discount</mat-label>
        <input matInput formControlName="discount" placeholder="discount" required >
      </mat-form-field>

      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="add()" class="adding" >Add</button>
      </mat-dialog-actions>
   

</mat-dialog-content>

