// .footer {
    // position: fixed;
    
//     height: 50px;
//     bottom: 0;
    
//     background: #2E1D1E 0% 0% no-repeat padding-box;
//     opacity: 1;
//     color: white;
//     top: 1166px;
// left: 0px;
// padding: 0px;
// display: block;

// width: 250%;
// height: 100% !important; 
             
// overflow-x: hidden;

// background: #2E1D1E 0% 0% no-repeat padding-box;
// opacity: 1;

    
//  }
//  .foot{
    
//     overflow: hide;
//      margin-left: 15%;
//     color: white;
     
//  }
.footer{
    background: #2E1D1E;
    color : white;
    width: 220vh;
}

